# Core
Django==4.2.10
gunicorn==21.2.0

# Django UI & Forms
django-crispy-forms>=2.0
crispy-bootstrap5>=0.7
django-filter>=23.0

# Media storage
cloudinary>=1.36.0
django-cloudinary-storage>=0.3.0
pillow>=10.0

# Utilities
requests>=2.31.0
sqlparse>=0.4.4
tzdata

xhtml2pdf==0.2.17
